{% extends 'base.html' %}

{% block title %}Upload Image{% endblock %}

{% block content %}
    <h1>Upload Image</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="file">Select image:</label>
        <input type="file" name="file" id="file" required accept="image/*">
        <br>
        <label for="display_index">Select Display:</label>
        <select name="display_index" id="display_index">
            {% for display in displays %}
                <option value="{{ loop.index0 }}">{{ display.name }} ({{ display.width }}x{{ display.height }})</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Upload</button>
    </form>
{% endblock %}
